:root {
    --primary-color: #ee4d2d;
    --primary-color-rgba: rgba(238, 77, 45, 1);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --start-gold-color: #ffce3e;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px

}

* {
    box-sizing: inherit;
    /* Để kế thừa box-sizing ở tất cả các thẻ nó chứa */
}

html {
    /* HACK 10px, mac dinh trinh duyet font size 16px*/ 
    /* font size html 100% tuong ung 16px*/ 
    font-size: 62.5%; 
    line-height: 1.6rem; /* Set độ cao mặc định cho toàn trang */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Turn off arrow of input type Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* FLEXBOX */
.d-flex  {
    display: flex;
}
.align-items-center {
    align-items: center;
}

/* Size */
.h-100 {
    height: 100%;
}

.text-right {
    text-align: right;
}

.link__shopee {
    color: #0055aa;
    cursor: pointer;
}

.mt-20 {
    margin-top: 20px;
}

/* Responsive */


.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* TEST */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.no-wrap {
    flex-wrap: nowrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: growth linear 0.2s;
}

.modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.modal__body {
    position: relative;
    z-index: 1;
}



/* Button style */
/* Những nút dùng chung nên viết ở đây */

.btn {
    min-width: 142px;
    height: 34px;
    line-height: 1.6rem;
    text-decoration: none; /* Đề phòng dùng cho thẻ a */
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #ccc;
    cursor: default;
    background-color: #999;
    /* filter: brightness(80%); */
}

/*  Selection */

.select-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #9a9a9a;
    position: relative;
    top: 1px;
}

.select-input__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    padding: 8px 16px;
    list-style: none;
    border-radius: 2px;
    background-color: var(--white-color);
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.select-input__link {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input__link:hover {
   color: var(--primary-color);
}

.cursor-pointer {
    cursor: pointer;
    pointer-events: auto;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 8px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    filter: brightness(0.95);
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

